#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  display: none;
}

.card {
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.read-the-docs {
  display: none;
}

