:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #242424; 
  background-color: #f9f9f9; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  background-color: var(--bg-color, #f9f9f9);
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
}

h2 {
  font-size: 2em; 
  line-height: 1.3;
  margin-bottom: 0.5em;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
